#root,
html,
body {
  height: 100%;
  width: 100%;
}

*,
html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper {
  width: 60%;
  margin: 0 auto;
  height: 100%;
  padding-top: 40px;
}

@media screen and (max-width: 768px) {
  .main-wrapper {
    width: 90%;
  }
}

.main-header {
  border-bottom: 1px solid #e7e1e1;
  padding-bottom: 6px;
  margin-bottom: 20px;
}
.main-header > h2 {
  font-weight: 400;
}

.add-todo {
  border: 1px solid #f1ecec;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-top: 20px;
}
.article-container {
  margin: 5px 0;
  padding: 1px 0;
  display: flex;
  gap: 20px;
}
.article-container > .ticker {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .article-container > .ticker {
    margin-top: 0px;
  }
}
.article-container h3 {
  font-size: 1.5rem;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .article-container h3 {
    font-size: 1rem;
    width: 150px;
  }
  .article-container p {
    font-size: 0.78rem;
  }
}
.article-remove-confirmation {
  position: relative;
  top: 10px;
  left: 40px;
}

.article-remove-confirmation button {
  margin-left: 10px;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .article-remove-confirmation button {
    margin-bottom: 10px;
    width: 100px;
  }
}

.article-remove-confirmation > .del-item {
  background-color: rgb(63, 5, 19);
  color: #fff;
  font-weight: 600;
}
.main-btn_section {
  margin-bottom: 20px;
}
.main-btn_section > button {
  background-color: rgb(32, 84, 167);
  color: #fff;
}

.add-todo > .add-label > input {
  padding: 5px;
  border: 1px solid hsla(0, 0%, 75%, 0.452);
  margin-left: 10px;
  border: none !important;
}
.add-todo-input {
  display: flex;
  flex-direction: column;
}
.add-todo {
  padding: 16px;
  border-radius: 16px;
  width: inherit;
}
@media screen and (max-width: 768px) {
  .add-todo {
    width: 100%;
  }
}

.add-label {
  font-weight: 600;
}
.add-todo-input > input {
  padding: 15px;
  background: hsla(0, 4%, 83%, 0.452);
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
}
.add-btn {
  text-align: right;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.add-btn button {
  width: 150px;
  color: #fff;
  border-radius: 5px;
}

.btn-active {
  background-color: rgb(32, 84, 167);
  cursor: pointer;
}

.btn-disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.left-icon {
  text-align: right;
  cursor: pointer;
  font-weight: 500;
  color: rgb(87, 8, 13);
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
